<div class="flex flex-col flex-auto min-w-0">

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">


    <div class="rounded-2xl ml-5 mt-4">

      <div class="text font-semibold text-3xl gap-10 m-15 ml-32"> Wallet Balance


        <div class="flex flex-col mt-7">
          <div class="-my-2 overflow-x-auto sm:-mx-3 lg:-mx-5 ">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
              <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200 mt-5">
                  <thead class="bg-gray-40">
                    <tr>
                      <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-gray-500 tracking-wider ">
                        Provider
                      </th>
                      <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-gray-500 tracking-wider">
                        Interest
                      </th>

                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    <tr>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">


                          <div class="text-lg font-medium text-gray-900">Nexo </div>


                        </div>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">

                        <div class="text-lg text-gray-900">13%</div>

                      </td>

                      <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                          Allocate
                        </button>

                      </td>

                    </tr>
                    <tr>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">


                          <div class="text-lg font-medium text-gray-900">Celsius </div>


                        </div>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">

                        <div class="text-lg text-gray-900">12%</div>

                      </td>

                      <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                          Allocate
                        </button>

                      </td>

                    </tr>

                    <tr>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">


                          <div class="text-lg font-medium text-gray-900">Crypto.com </div>


                        </div>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">

                        <div class="text-lg text-gray-900">12.5%</div>

                      </td>

                      <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                          Allocate
                        </button>

                      </td>

                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>